body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.half{
  width:49%;
}

header{
  width: 100%;
  border: 2px red;
  background-color:blue;
}

.Seccion2{
  width: 100%;
}

#mapaTrabajos img{
  width: 35%;
  height: 35%";
}

footer{
  background-color: black;
  color:lightblue;
  width:100%;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
}

footer img{
  width: 15px;
  height: 25px;
}
