@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Khand:wght@500;700&display=swap');

ion-header{
    ion-toolbar{
        padding: 10% 0;
    }
}

ion-card-title{
    font-family: 'Graduate', cursive;
}

ion-card-header{
    ion-label{
        font-family: 'Graduate', cursive;
        font-size: xx-large;
    }
}

ion-label{
    font-family: 'Graduate', cursive;
}

