<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Canadian Football league</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">
    <h1 class="ion-text-center">Semana 1</h1>
  </div>

  <div class="Juegos">

    <ion-row  style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>9 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[0].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[0].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[0].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[0].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[0].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[0].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>10 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[1].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[1].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[1].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[1].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[1].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[1].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>11 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[2].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[2].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[2].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[2].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[2].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[2].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>12 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[3].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[3].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[3].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[3].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[3].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[3].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
  </div>

  <div class="titulo">
    <h1 class="ion-text-center">Semana 2</h1>
  </div>

  <div class="Juegos">
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>16 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[4].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[4].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[4].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[4].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[4].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[4].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>16 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[5].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[5].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[5].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[5].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[5].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[5].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>17 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[6].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[6].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[6].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[6].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[6].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[6].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>18 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[7].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[7].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[7].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[7].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[7].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[7].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
  </div>

  <div class="titulo">
    <h1 class="ion-text-center">Semana 3</h1>
  </div>

  <div class="Juegos">
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>20 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[8].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[8].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[8].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[8].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[8].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[8].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>21 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[9].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[9].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[9].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[9].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[9].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[9].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>22 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[10].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[10].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[10].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[10].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[10].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[10].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
      <ion-col size="3">
        <ion-label>22 de Junio</ion-label>
        <ion-label><br>Finalizo</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[11].equipo1_id-1]}}.png"> </ion-img>
      </ion-col>
      <ion-col>
        <ion-label >{{lista_equipos[item[11].equipo1_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[11].puntaje_equipo1}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >@</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{item[11].puntaje_equipo2}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-label >{{lista_equipos[item[11].equipo2_id-1]}}</ion-label>
      </ion-col>
      <ion-col >
        <ion-img src="../../assets/Team icons/{{lista_equipos[item[11].equipo2_id-1]}}.png"> </ion-img>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
