<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Canadian Football league</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Noticia 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at urna sed quam posuere interdum. 
        Quisque aliquam tortor eros, a ultrices est tristique non. Nulla dignissim viverra tellus non imperdiet. 
        Morbi iaculis eleifend nisi, vitae facilisis leo vehicula a. Morbi semper, tellus et hendrerit porta, 
        neque ipsum porttitor orci, eget vulputate metus sem ut orci. Mauris libero arcu, egestas ut pulvinar id, 
        hendrerit id augue. Morbi ac lorem eu dolor tincidunt pellentesque in ac turpis. Etiam quis dui id libero tempus imperdiet. 
        Praesent pharetra, odio ac varius pulvinar, lorem felis dapibus erat, vitae aliquam augue ante quis risus. 
        Sed in massa eget nisl vulputate tristique. Cras nulla ligula, placerat vel ligula id, euismod cursus quam. 
        Quisque sed fermentum tellus, eu auctor leo. Aenean a elit sit amet tortor rhoncus eleifend. 
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Hello</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Noticia 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at urna sed quam posuere interdum. 
        Quisque aliquam tortor eros, a ultrices est tristique non. Nulla dignissim viverra tellus non imperdiet. 
        Morbi iaculis eleifend nisi, vitae facilisis leo vehicula a. Morbi semper, tellus et hendrerit porta, 
        neque ipsum porttitor orci, eget vulputate metus sem ut orci. Mauris libero arcu, egestas ut pulvinar id, 
        hendrerit id augue. Morbi ac lorem eu dolor tincidunt pellentesque in ac turpis. Etiam quis dui id libero tempus imperdiet. 
        Praesent pharetra, odio ac varius pulvinar, lorem felis dapibus erat, vitae aliquam augue ante quis risus. 
        Sed in massa eget nisl vulputate tristique. Cras nulla ligula, placerat vel ligula id, euismod cursus quam. 
        Quisque sed fermentum tellus, eu auctor leo. Aenean a elit sit amet tortor rhoncus eleifend. 
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</ion-label>
    </ion-card-content>
  </ion-card>


</ion-content>
